RewriteEngine On
RewriteBase /

# Định tuyến trang chi tiết xe
RewriteRule ^car_detail/([0-9]+)$ app/views/car_detail.php?id=$1 [L]

# Định tuyến trang admin
RewriteRule ^admin/?$ admin/index.php [L]

# Trang chính
RewriteRule ^$ index.php [L]

# Tìm xe theo thương hiệu
RewriteRule ^car_find/([0-9]+)$ index.php?brand=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]